.banner {
  background-size:cover;
  background-position:center;
  background-image: url("images/justin-heap--uovhtvxHfs-unsplash.jpg");
  /* object-fit:cover; */
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  color: white;
  display:block;
}

.container1 h1 {
  font-size: 38px;
  font-family: 'Monserrat', sans-serif;
}

.container1 p {
  font-size: 30px;
  font-style: italic;
}

.container2 {
  margin: auto;
  width: 700px;
}

.container2 h2 {
    font-size: 30px;
    font-weight: normal;
    color: grey;
    font-family: 'Monserrat', sans-serif;
}

.container2 p {
    font-size: 18px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.413);
    font-family: Verdana, sans-serif;
}


.link-medium {
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;
  font-family: Verdana, sans-serif;
  background-image:linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));;
}
.container2 a {
  text-decoration: none;
}

.container2 a:hover {
  background-image:linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1)) ;
}

@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
